body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

header {
    background-color: #405de6;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 30%;
}

.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
	width: 300px;
}

.search-bar button {
    background-color: #405de6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #6e7dff;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.messenger-container {
    display: flex;
    width: 100%;
    height: 90vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
}

.sidebar {
    width: 21%;
    background-color: white;
    border-radius: 10px;
    margin: 0px auto;
    padding: 20px;
    overflow-y: auto;
}

.searchBar-Chats {
    margin-bottom: 20px;
}

.searchBar-Chats input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.friends-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.friends-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.friends-list li:hover {
    background-color: #f0f0f0;
}

.friends-list img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.chat-section {
    width: 50%;
    border-radius: 10px;
    margin: 0px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.chat-header .chat-options button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.chat-header .chat-options button:hover {
    color: #6e7dff;
}

.chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: calc(100% - 140px); /* Adjust based on header and footer heights */
}

.chat-footer {
    padding: 20px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-footer form {
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.chat-footer input {
    width: 88%;
    padding: 10px;
    border-radius: 5px solid #ddd;
    outline: none;
}

.chat-footer button {
    padding: 10px 15px;
    background-color: #405de6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-footer button:hover {
    background-color: #6e7dff;
}

.message {
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0;
    max-width: 60%;
    display: inline-block;
}

.message.sent {
    background-color: #7381fa9e;
    align-self:flex-end;
}

.message.received {
    background-color: white;
    border: 1px solid #ddd;
    align-self: flex-start;
}

.message img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}

.info-section {
    width: 21%;
    border-radius: 10px;
    margin: 0px auto;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.user-profile img {
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 60px;
    height: 60px;
}

.info-name {
    display: flex;
    margin-top: 5%;
    font-size: 20px;
}

.info-options button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 5%;
    margin-inline: 11%;
}

.info-options button:hover {
    color: #6e7dff;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center; 
    align-items: center; 
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}